body{
	padding-top: 50px;
	color: #17514d;
}
a{
	color: #005581;
}
.navbar{
	background-color: #006C67;
	color: #FFF;
}
.navbar-default .navbar-nav > li > a{
	color: #FFF;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus{
	color: #E3DDD6;
}

.logo{
	text-align: center;
	width: 100%;
	display: inline-block;
	margin-top: 30px;
	margin-bottom: 20px;
}
footer{
	background-color: #006C67;
	color: #FFF;
	margin-top: 50px;
	padding-top: 20px;
	padding-bottom: 20px;
}
#footer_left{
	float: left;
}
footer address p{
	margin-bottom: 4px;
}
footer address h4{
	margin-bottom: 20px;
}
#redes_footer{
	float: right;
	text-align: center;
}
ul#lista_redes_sociais{
	padding: 0;
}
#lista_redes_sociais li{
	list-style-type: none;
	display: inline-block;
}